.wrapper {
  min-height: calc(100vh - 60px);
  background: transparent;
  position: relative;
  top: 60px !important;

  h1 {
    color: rgb(0, 0, 0);
    font-size: 7rem;
    font-weight: 900;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: textAnimation 1s;
    opacity: 1;
    width: 80%;
    background-image: url("../assets/chariot1.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  .Chapter-button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: buttonAnimation 1s;
    opacity: 1;
    background-color: rgb(6, 4, 99);
    padding: 5px 10px;
    border-radius: 30px;
    height: 48px;
    width: 10%;
    border: 0.5px solid rgb(6, 4, 99);
    font-weight: 500;
    transition: 0.5s ease;

    &:hover,
    &:active {
      background-color: rgb(3, 2, 66);
      border-radius: 0;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .wrapper {
    padding: 0;
    background-color: transparent;
  }
  h1 {
    font-size: 6rem !important;
    width: 90% !important;
    transition: 1s ease-in;
  }
  .Chapter-button {
    width: 30% !important;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
    padding: 0;
    background-color: transparent;
  }
  h1 {
    font-size: 3rem !important;
    width: 90%;
    transition: 1s ease-in;
  }
  .Chapter-button {
    width: 35%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    padding: 0;
    background-color: transparent;
  }
  h1 {
    font-size: 2.4rem !important;
    width: 70%;
    transition: 1s ease-in;
  }
  .Chapter-button {
    width: 80%;
    padding: 5px 5px;
    font-size: 12px;
  }
}

@keyframes textAnimation {
  from {
    top: 40%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes buttonAnimation {
  from {
    top: 85%;
    opacity: 0;
  }
  to {
    top: 75%;
    opacity: 1;
  }
}
